.card {
  position: relative;
  width: 225px;
  border: 1px solid #e6ebf8;
  background-color: white;
  border-radius: 3px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 20px 0 20px;
}

.plan-name {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 7rem;
}

.features-list-title {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.features-list {
  display: flex;
  flex-direction: column;
}

.btn-plan-option {
  align-self: center;
  cursor: pointer;
  font-size: .8rem;
  font-weight: 600;
  padding: 10px;
  width: 75%;
  border-radius: 2rem;
  border: 1px solid #dae1f5;
  background-color: white;
}

.btn-plan-option:hover {
  color: white;
  background: black;
}

.link {
  margin-top: 1.5rem;
  align-self: center;
  text-decoration: none;
  font-size: 0.8rem;
  color: #3e62d1;
}